// Clearfix
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

body, html {
    position:relative;
    height:100%;
}

.content-wrapper {
    height: 100%;
    margin-bottom: -135px;
    margin-top:60px;
}

.submenu {
    margin:0;

    li a {
    }
}

//Fiber frontend admin
#df-wpr-sidebar {
    margin-top:40px;
}

#df-wpr-sidebar {
    height: 95%;
}

#df-wpr-sidebar .jstree ul ul,
.jstree ul ul {
    float: none;
    position: static;
    box-shadow: 0 0 0;
}

footer.wrapper {
    height:100px;
}
