<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]--><head>
	<meta charset="UTF-8" />
  {% load assets %}
	
  <title>Сайт нашей компании | {% block title %}{% endblock %}</title>

  {% block metadata %}
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
  {% endblock metadata %}

  <meta name="author" content="zaebee" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
  {% block favicons %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}apple-touch-icon.png">
  {% endblock favicons %}
	
  {% assets "bootstrap_less" %}
    <style type="text/css" media="screen">
        /* <![CDATA[ */
        @import '{{ ASSET_URL }}';
        /* ]]> */
    </style>
  {% endassets %}

  {% assets "dev_less" %}
    <style type="text/css" media="screen">
        /* <![CDATA[ */
        @import '{{ ASSET_URL }}';
        /* ]]> */
    </style>
  {% endassets %}

  {% block extracss %}{% endblock extracss %}
  <script src="{{ STATIC_URL }}js/libs/modernizr-2.0.min.js"></script>
</head>

<body>
  {% spaceless %}

  {% include 'include/main_nav.html' %}

  <div class="{% block container_class %}container{% endblock %}">
    {% block container %}
    {% endblock %}

    <footer class="wrapper">
      <p>&copy;</p>
    </footer>
  </div>

    {% block js-libs %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script>!window.jQuery && document.write(unescape('%3Cscript src="{{ STATIC_URL }}js/libs/jquery-1.7.1.min.js"%3E%3C/script%3E'))</script>
    {% endblock js-libs %}

    {% assets  "bootstrap_js" %}
      <script type="text/javascript" language="javascript" src="{{ ASSET_URL }}" charset="utf-8">
          // <![CDATA[// ]]>
      </script>
    {% endassets %}

    {% assets  "all_js" %}
      <script type="text/javascript" language="javascript" src="{{ ASSET_URL }}" charset="utf-8">
          // <![CDATA[// ]]>
      </script>
    {% endassets %}

    {% block extrajs %}{% endblock extrajs %}

    <!--[if lt IE 7 ]>
      <script src="{{ STATIC_URL }}js/libs/dd_belatedpng.js"></script>
      <script> DD_belatedPNG.fix('img, .png_bg');</script>
    <![endif]-->
  {% endspaceless %}
</body>
</html>
